<li class="reviews__item swiper-slide">
  <p class="reviews__text">
    Ones of the best memory courses I've taken! It clearly teaches every technique and method all in one course.
  </p>
  <div class="reviews__footer">
    <div class="reviews__img">
      <img src="img/reviews1.webp" alt="Erol foto">
    </div>
    <div class="reviews__wrup">
      <p class="reviews__name">Erol O.</p>
      <span>12.09.2021</span>
    </div>
    <div class="reviews__mark">
      @@include("svg/star.html")
      <span>5.0</span>
    </div>
  </div>
</li>
<li class="reviews__item swiper-slide">
  <p class="reviews__text">
    I deeply recommend this course on
    memory improvement. I use these
    strategies in my everyday worklife;
    it’s easy to apply. It’s important not
    to feel rushed, just revisit and use
    the techniques and soon you’ll find
    great ways to implement them in
    your day... more
  </p>
  <div class="reviews__footer">
    <div class="reviews__img">
      <img src="img/reviews2.webp" alt="Fredrik foto">
    </div>
    <div class="reviews__wrup">
      <p class="reviews__name">Fredrik G.</p>
      <span>12.09.2021</span>
    </div>
    <div class="reviews__mark">
      @@include("svg/star.html")
      <span>5.0</span>
    </div>
  </div>
</li>
<li class="reviews__item swiper-slide">
  <p class="reviews__text">
    An excellent course. There are many lessons and they are all very interesting. The lessons are very clear
    and
    easy to
    grasp. This course has everything. If you want to buy just one course for memory improvement - I warmly
    recommend this
    one!
  </p>
  <div class="reviews__footer">
    <div class="reviews__img">
      <img src="img/reviews3.webp" alt="Vladimir foto">
    </div>
    <div class="reviews__wrup">
      <p class="reviews__name">Vladimir V.</p>
      <span>12.09.2021</span>
    </div>
    <div class="reviews__mark">
      @@include("svg/star.html")
      <span>5.0</span>
    </div>
  </div>
</li>
<li class="reviews__item swiper-slide">
  <p class="reviews__text">
    Outstanding coverage of many
    tools and techniques that has
    allowed me to select the tool I
    want in my memory and learning
    toolbox.
  </p>
  <div class="reviews__footer">
    <div class="reviews__img">
      <img src="img/reviews4.webp" alt="Stephen foto">
    </div>
    <div class="reviews__wrup">
      <p class="reviews__name">Stephen S.</p>
      <span>12.09.2021</span>
    </div>
    <div class="reviews__mark">
      @@include("svg/star.html")
      <span>5.0</span>
    </div>
  </div>
</li>
<li class="reviews__item swiper-slide">
  <p class="reviews__text">
    It is a complete course over memory. Just what I was searching for. Thanks for your effort in put all the
    pieces
    together in order to improve my memory.
  </p>
  <div class="reviews__footer">
    <div class="reviews__img">
      <img src="img/reviews5.webp" alt="Vanessa foto">
    </div>
    <div class="reviews__wrup">
      <p class="reviews__name">Vanessa Castro G.</p>
      <span>12.09.2021</span>
    </div>
    <div class="reviews__mark">
      @@include("svg/star.html")
      <span>5.0</span>
    </div>
  </div>
</li>