<footer id="footer">
	<div class="container">
		<div class="footer">
			<div class="footer__blok">
				<div class="logo--footer">
					@@include('_logo.html', {'link_prefics': '@@link_prefics'})
				</div>
			</div>
			<div class="footer__blok">
				<h3 class="footer__title">NAVIGATE</h3>
				<ul class="footer__menu">
					<li><a href="@@link_prefics/#about" class="footer__link">About</a></li>
					<li><a href="@@link_prefics/#learn" class="footer__link">What you'll learn</a></li>
					<li><a href="@@link_prefics/#audience" class="footer__link">For whom</a></li>
				</ul>
			</div>
			<div class="footer__blok">
				<h3 class="footer__title">Contact us</h3>
				<a href="mailto:help@spymemory.com" class="footer__mail">help@spymemory.com</a>
			</div>
			<div class="footer__blok">
				<h3 class="footer__title">SPY MEMORY</h3>
				<div class="footer__banner">
					@@include("_banner.html", {"img":"spotify.html", "sourse":"Spotify"})
				</div>
				<div class="footer__banner">
					@@include("_banner.html", {"img":"apple.html", "sourse":"Apple Podcasts"})
				</div>
			</div>
		</div>
		<p class="copy">© 2024, All rights reserved</p>
	</div>
</footer>