<header id="header">
  <div class="container">
    <div class="header">
      @@include('_logo.html')
      <nav class="menu">
        <menu class="menu__items">
          <li class="menu__item"><a href="#">About</a></li>
          <li class="menu__item"><a href="#">What will you learn</a></li>
          <li class="menu__item"><a href="#">For whom</a></li>
          <li class="menu__item"><a href="#">Reviews</a></li>
          <li class="menu__item"><a href="#">FAQ</a></li>
          <li class="menu__item"><a href="#">Contact</a></li>
        </menu>
        <button type="button" class="menu__burger">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
</header>