<header id="header">
  <div class="container">
    <div class="header">
      @@include('_logo.html')
      <nav class="menu">
        <div class="menu__wrapper">
          <menu class="menu__items">
            <li class="menu__item"><a href="./#about">About</a></li>
            <li class="menu__item"><a href="./#learn">What will you learn</a></li>
            <li class="menu__item"><a href="./#audience">For whom</a></li>
            <li class="menu__item"><a href="./#reviews">Reviews</a></li>
            <li class="menu__item"><a href="./#faq">FAQ</a></li>
            <li class="menu__item"><a href="./#footer">Contact</a></li>
          </menu>
        </div>
        <button type="button" id="mobile_button" class="menu__burger">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
</header>