<header id="header">
  <div class="container">
    <div class="header">
      @@include('_logo.html', {'link_prefics': '@@link_prefics'})
      <nav class="menu">
        <div class="menu__wrapper">
          <menu class="menu__items">
            <li class="menu__item"><a href="@@link_prefics/#about">About</a></li>
            <li class="menu__item"><a href="@@link_prefics/#learn">What will you learn</a></li>
            <li class="menu__item"><a href="@@link_prefics/#audience">For whom</a></li>
            <li class="menu__item"><a href="@@link_prefics/#reviews">Reviews</a></li>
            <li class="menu__item"><a href="@@link_prefics/#faq">FAQ</a></li>
            <li class="menu__item"><a href="@@link_prefics/#footer">Contact</a></li>
          </menu>
        </div>
        <button type="button" id="mobile_button" class="menu__burger">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
</header>