<main>
  <!-- First screen -->
  <section id="hero">
    <div class="container">
      <div class="hero">
        <div class="hero__hat-boy">
          <div class="hat-man">
            <picture class="hat-man__man">
              <source srcset="img/hat-man_3x.webp" media="(min-width:3000px)">
              <source srcset="img/hat-man_2x.webp" media="(min-width:1500px)">
              <source srcset="img/hat-man_1x.webp" media="(min-width:300px)">
              <source srcset="img/hat-man_05x.webp" media="(max-width:299px)">
              <img src="img/hat-man_1x.jpg" alt="Spy with hat">
            </picture>
            <div class="hat-man__frame">
              <picture class="hat-man__hat">
                <source srcset="img/hat_3x.webp" media="(min-width:3000px)">
                <source srcset="img/hat_2x.webp" media="(min-width:1500px)">
                <source srcset="img/hat_1x.webp" media="(min-width:300px)">
                <source srcset="img/hat_05x.webp" media="(max-width:299px)">
                <img src="img/hat_3x.png" alt="Spy with hat in frame">
              </picture>
            </div>
            <div class="hero__rating">
              @@include("_stars.html")
              327 ratings
            </div>
          </div>
        </div>
        <div class="hero__box">
          @@include('_main-info.html', {"h": "h1"})
        </div>
      </div>
    </div>
    @@include("_smoke.html")
  </section>
  <!-- Obtention -->
  <section id="obtention">
    <div class="container">
      <div class="obtention">
        <h2 class="obtention__title">
          What will <span>you get:</span>
        </h2>
        <ul class="obtention__content">
          <li class="obtention__item">
            @@include('_icon.html', {'img':'clok.html'})
            <div class="obtention__inner">
              <h3 class="obtention__name">ABSORB</h3>
              <span class="obtention__desc">skills or information faster</span>
            </div>
          </li>
          <li class="obtention__item">
            @@include('_icon.html', {'img':'card.html'})
            <div class="obtention__inner">
              <h3 class="obtention__name">DELIVER</h3>
              <span class="obtention__desc">any speech or presentation without notes</span>
            </div>
          </li>
          <li class="obtention__item">
            @@include('_icon.html', {'img':'pen.html'})
            <div class="obtention__inner">
              <h3 class="obtention__name">NEVER FORGET</h3>
              <span class="obtention__desc">a name, face, or date again</span>
            </div>
          </li>
          <li class="obtention__item">
            @@include('_icon.html', {'img':'book.html'})
            <div class="obtention__inner">
              <h3 class="obtention__name">LEARN</h3>
              <span class="obtention__desc">anything 2-3x faster & make it “stick” in your memory</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="about">
        <button tipe="batton" style="width: 100%;">
          @@include('_long-icon.html', {
          'label': 'Get Instant Access'
          })
        </button>
      </div>
    </div>
  </section>
  <!-- Audience -->
  <section id="audience" class="audience">
    <div class="container">
      <div class="audience__content">
        <h2 class="audience__title">This course is <span>for:</span></h2>
        <ul class="audience__list">
          <li class="audience__item">
            @@include('_icon.html', {'img':'hat.html'})
            <div class="audience__inner">
              <h3 class="audience__name">Students</h3>
              <p class="audience__text">
                Who want to improve their grades and performance, study faster and more easily pass any exams
              </p>
            </div>
          </li>
          <li class="audience__item">
            @@include('_icon.html', {'img':'bag.html'})
            <div class="audience__inner">
              <h3 class="audience__name">ENTREPRENEUR</h3>
              <p class="audience__text">
                Who want to remember important details and make better decisions. You’ll be able to work more
                efficiently and
                effectively
              </p>
            </div>
          </li>
          <li class="audience__item">
            @@include('_icon.html', {'img':'card.html'})
            <div class="audience__inner">
              <h3 class="audience__name">BAD MEMORY</h3>
              <p class="audience__text">
                People who think they have a bad memory and want to do something about it
              </p>
            </div>
          </li>
          <li class="audience__item">
            @@include('_icon.html', {'img':'brain.html'})
            <div class="audience__inner">
              <h3 class="audience__name">INDIVIDUALS</h3>
              <p class="audience__text">
                Anyone looking to develop new learning and memory improvement skills
              </p>
            </div>
          </li>
          <li class="audience__item">
            @@include('_icon.html', {'img':'family.html'})
            <div class="audience__inner">
              <h3 class="audience__name">PARENTS</h3>
              <p class="audience__text">
                Who want to give their children a leg up in their studies
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="audience__bg">
        <div class="audience__image">
          <picture class="audience__collar">
            <source srcset="img/collar_2x.webp" media="(min-width:1000px)">
            <source srcset="img/collar_1x.webp" media="(min-width:500px)">
            <source srcset="img/collar_05x.webp" media="(max-width:499px)">
            <img src="img/collar.png" alt="Man with big collar">
          </picture>
          <div class="audience__frame"></div>
          <picture class="audience__man">
            <source srcset="img/collar-man_2x.webp" media="(min-width:1000px)">
            <source srcset="img/collar-man_1x.webp" media="(min-width:500px)">
            <source srcset="img/collar-man_05x.webp" media="(max-width:499px)">
            <img src="img/collar-man.png" alt="Face of Man with big collar">
          </picture>
        </div>
      </div>
    </div>
    <picture class="audience__smoke">
      <source srcset="img/collar-smoke_2x.webp" media="(min-width:1000px)">
      <source srcset="img/collar-smoke_1x.webp" media="(min-width:500px)">
      <source srcset="img/collar-smoke_05x.webp" media="(max-width:499px)">
      <img src="img/collar-smoke.png" alt="Smoke infront of Man with big collar">
    </picture>
  </section>
  <!-- Catalog -->
  <section id="catalog">
    <div class="container">
      <div class="catalog">
        <div class="catalog__bg">
          <picture class="catalog__man">
            <source srcset="img/invisible_2x.webp" media="(min-width:1000px)">
            <source srcset="img/invisible_1x.webp" media="(min-width:500px)">
            <source srcset="img/invisible_05x.webp" media="(max-width:499px)">
            <img src="img/invisible.png" alt="Invisible with hat">
          </picture>
          <span class="catalog__bgword">About</span>
          <picture class="catalog__invisible">
            <source srcset="img/invisible_full_2x.webp" media="(min-width:1000px)">
            <source srcset="img/invisible_full_1x.webp" media="(min-width:500px)">
            <source srcset="img/invisible_full_05x.webp" media="(max-width:499px)">
            <img src="img/invisible_full.png" alt="Invisible with hat">
          </picture>
        </div>
        <h2 class="catalog__title">
          <span>About</span> 7 Technics
        </h2>
        <ul class="catalog__list">
          <li class="catalog__item catalog__item--a">
            @@include("_catalog-icon.html")
            <p class="catalog__name">Attention training</p>
            <div class="catalog__line"></div>
          </li>
          <li class="catalog__item catalog__item--b">
            @@include("_catalog-icon.html")
            <p class="catalog__name">Development of creative imagination</p>
            <div class="catalog__line"></div>
            <div class="catalog__line catalog__line--l45"></div>
          </li>
          <li class="catalog__item catalog__item--c">
            @@include("_catalog-icon.html")
            <p class="catalog__name">Episodic memory training</p>
            <div class="catalog__line"></div>
          </li>
          <li class="catalog__item catalog__item--d">
            @@include("_catalog-icon.html")
            <p class="catalog__name catalog__name--right">Encoding information with images</p>
            <div class="catalog__line"></div>
            <div class="catalog__line catalog__line--r45"></div>
          </li>
          <li class="catalog__item catalog__item--e">
            @@include("_catalog-icon.html")
            <p class="catalog__name catalog__name--right">Story method</p>
            <div class="catalog__line"></div>
            <div class="catalog__line catalog__line--r45"></div>
          </li>
          <li class="catalog__item catalog__item--f">
            @@include("_catalog-icon.html")
            <p class="catalog__name catalog__name--right">Locations method</p>
            <div class="catalog__line"></div>
          </li>
          <li class="catalog__item catalog__item--g">
            @@include("_catalog-icon.html")
            <p class="catalog__name catalog__name--right">Prospective memory training</p>
            <div class="catalog__line"></div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Features -->
  <section id="features">
    <div class="container">
      <div class="features">
        <div class="features__wrap">
          <div class="features__inner">
            <span class="features__icon">
              @@include("svg/time.html")
            </span>
            <p class="features__text">
              You can start using these techniques immediately, and you will <span>see results within a few days.</span>
            </p>
          </div>
          <div class="features__inner">
            <span class="features__icon">
              @@include("svg/list.html")
            </span>
            <p class="features__text">
              Each technique has <span>2 exercises</span> that help you to understand how to use them in real life.
            </p>
          </div>
        </div>
        <button type="button" class="features__btn">
          @@include('_long-icon.html', {'label':'Get Instant Access'})
        </button>
      </div>
    </div>
  </section>
  <!-- Quote -->
  <section id="quote">
    <div class="quote">
      <picture class="quote__bg">
        <source srcset="img/smoke-quote_2x.webp" media="(min-width:1000px)">
        <source srcset="img/smoke-quote_1x.webp" media="(max-width:999px)">
        <img src="img/smoke-quote.png" alt="Smoke on background">
      </picture>
      <div class="quote__holder">
        @@include("_stars.html")
        <h2 class="quote__text">
          “The only way to win is to learn faster than anyone else”
        </h2>
        <div class="quote__footer">
          <div class="quote__avatar">
            <img src="img/eric.webp" alt="Eric Ries avatar">
          </div>
          <div class="quote__inner">
            <h4 class="quote__name">Eric Ries</h4>
            <p class="quote__desc">
              The Lean Startup: How Today’s Entrepreneurs Use Continuous Innovation to Create Radically Successful
              Businesses
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Others saying -->
  <section id="reviews" class="reviews">
    <h2 class="reviews__title">
      What Others are
      <span>Saying:</span>
    </h2>
    <div class="reviews__filde">
      <div class="reviews__rating">
        @@include("_stars.html")
        1347 reviews
      </div>
      <div class="reviews__icon">
        <img src="img/swiper.svg" alt="Swiping icon">
      </div>
    </div>
    <div class="reviews__swiper swiper">
      <ul class="swiper-wrapper">
        @@include("_slides.html")
        @@include("_slides.html")
      </ul>
    </div>
    <button type="button" class="reviews__btn">
      @@include('_long-icon.html', {
      'label': 'Write a customer review'
      })
    </button>
  </section>
  <!-- Repeat propouse -->
  <section id="repeate">
    <div class="container">
      <div class="repeate">
        <div class="repeate__info">
          @@include('_main-info.html', {"h": "h2"})
        </div>
        <div class="repeate__box">
          <picture class="repeate__img">
            <source srcset="img/eye_2x.webp" media="(min-width:800px)">
            <source srcset="img/eye_1x.webp" media="(max-width:799px)">
            <img src="img/eye.png" alt="Spy eye">
          </picture>
        </div>
        <div class="repeate__sektor">
          @@include("svg/sektor.html")
        </div>
      </div>
    </div>
    @@include("_smoke.html")
  </section>
  <!-- Guarantee -->
  <section id="guarantee">
    <div class="container">
      <div class="guarantee">
        <div class="guarantee__wrupper">
          @@include("svg/guarantee.html")
          <div class="guarantee__box">
            <h2 class="guarantee__title">30-Day Money-Back Guarantee</h2>
            <p class="guarantee__text">
              We want you to be 100% satisfied with the Spy Memory Course. If you are not, simply contact us within 30
              days of your purchase and we will refund your money, no questions asked.
            </p>
          </div>
        </div>
        <div class="guarantee__bunner">
          <picture class="">
            <source media="(min-width: 770px)" srcset="img/grt_2x.png">
            <source media="(max-width: 769px)" srcset="img/grt_1x.png">
            <img src="img/grt_1x.png" alt="PayPal">
          </picture>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ -->
  <section id="faq">
    <div class="spy007">
      <img src="img/faq.webp" decoding="async" loading="lazy" srcset="
      img/faq_576.webp 500w,
      img/faq_1152.webp 1000w,
      img/faq_2304.webp 2000w" alt="Spy 007">
    </div>
    <div class="spy006">
      <img src="img/faq_smoke.webp" decoding="async" loading="lazy" srcset="
      img/faq_smoke_560.webp 500w,
      img/faq_smoke.webp 1000w" alt="Smoke">
    </div>
    <div class="faq">
      <div class="container">
        <h2 class="faq__title">Frequently Asked <span>Questions</span></h2>
        <ul class="faq__list">
          <li>
            <div class="line"></div>
            <button class="faq__btn" type="button">
              <div class="faq__wrup">
                <p class="faq__asc">Does this program have a money-back guarantee?</p>
                <div class="faq__close">+
                  <!-- @@include('svg/plus.html') -->
                </div>
              </div>
              <span class="faq__ans">Of course, you can return money 30 days after purchase.</span>
            </button>
            <div class="line"></div>
          </li>
          <li>
            <button class="faq__btn" type="button">
              <div class="faq__wrup">
                <p class="faq__asc">How can I access the course after purchasing it?</p>
                <div class="faq__close">+
                  <!-- @@include('svg/plus.html') -->
                </div>
              </div>
              <span class="faq__ans">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </button>
            <div class="line"></div>
          </li>
          <li>
            <button class="faq__btn" type="button">
              <div class="faq__wrup">
                <p class="faq__asc">How fast I can implement this knowledge in real life?</p>
                <div class="faq__close">+
                  <!-- @@include('svg/plus.html') -->
                </div>
              </div>
              <span class="faq__ans">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
            </button>
            <div class="line"></div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <button class="up" type="button">
    @@include('_icon.html', {'img':'up.html'})
  </button>
</main>