@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,700;1,700;1,900&display=swap");
.section-title, .obtention__title, .catalog__title, .quote__text, .reviews__title, .faq__title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 58px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.section-title span, .obtention__title span, .catalog__title span, .quote__text span, .reviews__title span, .faq__title span {
  display: block;
  color: #f13131;
}
@media (max-width: 680px) {
  .section-title, .obtention__title, .catalog__title, .quote__text, .reviews__title, .faq__title {
    font-size: clamp(35px, 9.3333vw, 58px);
  }
}

.reviews__btn {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.footer__link, .footer__mail {
  font-size: 18px;
  line-height: 180%;
  text-decoration: underline transparent;
  text-decoration-skip-ink: none;
  transition: text-decoration 0.2s;
}
@media (max-width: 480px) {
  .footer__link, .footer__mail {
    font-size: 16px;
  }
}

.menu__burger span, .menu__burger span::before, .menu__burger span::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__item a:hover, .footer__link:hover, .footer__mail:hover {
  text-decoration: underline #fff;
}

.icon, .l-icon__bg, .timer, .c-icon, .faq__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hat-man__man::before {
  background: linear-gradient(270deg, #222 0%, rgba(34, 34, 34, 0) 20%), linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 70%), linear-gradient(90deg, #222 0%, rgba(34, 34, 34, 0) 50%), linear-gradient(0deg, #222 0%, rgba(34, 34, 34, 0) 40%);
}

.icon, .l-icon {
  filter: drop-shadow(5px 5px 20px rgba(241, 49, 49, 0.4901960784));
}

.icon__bg, .l-icon__bg {
  background: #f13131;
  width: 100%;
  height: 100%;
}

.l-icon__bg {
  clip-path: polygon(0 17.5px, 17.5px 0, 100% 0, 100% calc(100% - 17.5px), calc(100% - 17.5px) 100%, 0 100%);
}

.icon__bg, .up .icon__bg {
  clip-path: polygon(0 17.5%, 17.5% 0, 100% 0, 100% 82.5%, 82.5% 100%, 0 100%);
}

body {
  background-color: #222;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

picture img {
  width: 100%;
  height: 100%;
}

.banner {
  width: 165px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: #222;
  border-radius: 13px;
}
.banner p {
  font-size: 9px;
}
.banner h4 {
  width: 70px;
  font-size: 18px;
  line-height: 1;
}

.container {
  width: clamp(150px, 80.556%, 1160px);
  margin: 0 auto;
}
@media (max-width: 840px) {
  .container {
    width: 89.6104%;
  }
}
@media (max-width: 480px) {
  .container {
    width: 89.6%;
  }
}

.logo a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo a svg path {
  transition: fill 0.3s;
}
.logo a:hover svg path {
  fill: #f13131;
}
.logo span {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 140%;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .logo span {
    font-size: 14px;
  }
}
.logo--footer span {
  width: 132px;
}

@media (max-width: 1200px) {
  .header .logo svg {
    width: 52px;
    height: 52px;
  }
  .header .logo__name {
    font-size: 16px;
  }
}
.icon {
  width: 100px;
  aspect-ratio: 1;
}
.icon__bg {
  position: absolute;
}
.icon__finger {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  background: url("/img/finger.png") no-repeat center/cover;
  pointer-events: none;
}
.icon__img {
  z-index: 1;
  pointer-events: none;
  width: 45%;
}
.icon__img svg {
  width: 100%;
}
.icon__clok {
  margin-left: -10%;
}

.l-icon {
  width: 100%;
  height: 59px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.l-icon span {
  margin-left: 16px;
  font-size: 25px;
}

button .icon__bg,
button .l-icon__bg {
  transition: background-color 0.3s;
}
button .icon__bg:hover,
button .l-icon__bg:hover {
  background-color: rgba(241, 49, 49, 0.5019607843);
}

.up {
  position: fixed;
  right: 28px;
  bottom: 28px;
  width: 60px;
  aspect-ratio: 1;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  z-index: 3;
}
.up--active {
  visibility: visible;
  opacity: 1;
}
.up .icon {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .up {
    right: 20px;
    bottom: 20px;
  }
}
@media (max-width: 480px) {
  .up {
    left: 20px;
  }
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: clamp(20px, 9.333vw, 64px);
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.main-title span {
  display: block;
  color: #f13131;
}

.timer {
  position: relative;
  max-width: 359px;
  width: 100%;
  aspect-ratio: 2.3312;
  background-color: #111;
  flex-direction: column;
}
.timer > p {
  margin-left: -33.426%;
  font-size: 16px;
  line-height: 140%;
  color: #b3b3b3;
}
.timer__wrupper {
  width: 77.99%;
}
.timer__count {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: clamp(10px, 13.9275766017vw, 50px);
  font-weight: 700;
  line-height: 100%;
  margin: 15px 0px 7px;
}
.timer__names {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 0 0 3.214%;
}
.timer__corner {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 154px;
  height: 91px;
  overflow: hidden;
}
.timer__corner-text {
  width: 180px;
  margin-top: 12px;
  margin-left: -2px;
  padding: 7px 0 6px 38px;
  background-color: #f13131;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(30deg);
}
.timer__corner-bg {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 154px;
  height: 91px;
  border-left: 22px solid #cd2020;
  border-bottom: 22px solid #cd2020;
  z-index: -1;
}

.stage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(14px, 4.267vw, 21px);
}
.stage__ring {
  width: fit-content;
  margin: 0 auto 15px;
}
.stage__label {
  line-height: 140%;
}

.price {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}
.price p {
  font-size: clamp(25px, 8vw, 41px);
  font-weight: 700;
  line-height: 140%;
}
.price__wrupper {
  display: flex;
  align-items: center;
  gap: 1px 10px;
  margin-left: 20px;
}
.price__old {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: line-through;
}
.price__off {
  font-size: 16px;
  line-height: 140%;
}
.price__old, .price__off {
  color: #999;
}

.action__button {
  width: 100%;
}
.action__guarantee {
  width: fit-content;
  margin: 20px auto 0;
  font-size: 16px;
  color: #999;
  line-height: 140%;
}
.action__guarantee span {
  font-weight: 700;
  color: #fff;
}
@media (min-width: 449px) {
  .action {
    width: 287px;
    margin: 0 auto;
  }
}

.main-info__text {
  margin-top: 15px;
  font-size: clamp(16px, 4.8vw, 34px);
  line-height: 140%;
}
.main-info__text span {
  display: none;
}
@media (min-width: 720px) {
  .main-info__text {
    display: flex;
    align-items: center;
    gap: 27px;
  }
  .main-info__text span {
    display: block;
  }
}
.main-info .stage {
  margin-top: 36px;
}
.main-info .price {
  margin-top: 43px;
}
.main-info .timer {
  margin: 26px auto 0;
}
.main-info .action {
  margin-top: 20px;
}

.menu__items {
  display: none;
}
.menu__item a {
  padding: 5px 0;
  font-size: 18px;
  line-height: 140%;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s;
}
.menu__burger {
  position: relative;
  width: 40px;
  height: 22px;
  margin-left: 20px;
}
.menu__burger span::before {
  content: "";
  top: -11px;
}
.menu__burger span::after {
  content: "";
  bottom: -9px;
}
@media (min-width: 1150px) {
  .menu__items {
    display: flex;
    gap: 51px;
  }
  .menu__burger {
    display: none;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 11;
  background: linear-gradient(0deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.6666666667) 30%, rgba(34, 34, 34, 0.6666666667) 70%, rgba(34, 34, 34, 0.2666666667) 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 3.53px;
}

#hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
#hero .timer__corner,
#hero .timer__corner-bg {
  display: none;
}

.smoke {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 778px;
}

.hero {
  padding: 134px 0px 60px;
  text-align: center;
}
.hero .hat-man {
  position: relative;
  max-width: 416px;
  width: 92.974%;
  aspect-ratio: 416/552;
  margin: 0 auto;
  transform: translate(12px);
}
.hero .hat-man__man {
  position: absolute;
  top: -17.3913%;
  right: -68.5096%;
  width: 267.7885%;
  z-index: -1;
}
.hero .hat-man__man::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .hat-man__frame {
  width: 100%;
  height: 100%;
  border: 4px solid #f13131;
  box-shadow: 0 0 40px 0 #f13131;
}
.hero .hat-man__hat {
  position: absolute;
  right: 24.0385%;
  top: -17.3913%;
  width: 93.0288%;
}
.hero__rating {
  display: flex;
  gap: 16.54px;
  width: 285px;
  padding: 24px 37px 25px 29px;
  background-color: #383838;
  font-size: 16px;
  line-height: 140%;
  position: absolute;
  top: 45.06%;
  left: 6px;
}
.hero__rating svg {
  width: 22px;
}
.hero__box {
  width: 100%;
  margin-top: clamp(-210px, -32vw, 0px);
  position: relative;
  z-index: 1;
}
@media (max-width: 729px) {
  .hero .timer > p {
    margin: 0;
  }
}
@media (min-width: 730px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    padding-bottom: 96px;
  }
  .hero__box {
    margin-top: 18px;
  }
  .hero__hat-boy {
    margin-top: 129px;
  }
  .hero__rating {
    top: 241px;
    left: 195px;
  }
  .hero .main-info__text {
    margin-top: 38px;
  }
  .hero .main-info__box {
    position: relative;
  }
  .hero .stage {
    position: absolute;
    top: 930px;
    right: 49%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: fit-content;
  }
  .hero .stage__ring {
    margin: 0;
  }
  .hero .stage li {
    display: flex;
    gap: 18px;
  }
  .hero .price {
    margin: 51px 0 0;
  }
  .hero .price__wrupper {
    flex-direction: column;
  }
  .hero .timer {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translate(0, -50%);
  }
  .hero .action {
    margin: 27px 0 0;
  }
}
@media (min-width: 1380px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: clamp(600px, 100vh, 1200px);
    padding: 0;
  }
  .hero__hat-boy {
    width: 35.862%;
    margin: 30px 0 0;
  }
  .hero__box {
    width: fit-content;
  }
  .hero__rating {
    top: 46.377%;
    left: auto;
    right: 57.933%;
  }
  .hero .hat-man {
    width: 100%;
    transform: translate(0);
  }
  .hero .main-info__text {
    margin-top: 27px;
  }
  .hero .main-info__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 71px;
    margin-top: 54px;
  }
  .hero .price,
  .hero .action {
    margin-top: 0;
  }
  .hero .stage {
    position: static;
    flex-direction: row;
    gap: 43px;
    margin-top: 51px;
  }
  .hero .timer {
    right: -88.431%;
  }
}

#obtention {
  padding: clamp(30px, 16vw, 100px) 0;
  background-color: #111;
}

.obtention__title {
  width: fit-content;
  margin: 0 auto;
}
@media (min-width: 367px) {
  .obtention__title span {
    display: inline-block;
  }
}
.obtention__content {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: clamp(30px, 10.667vw, 60px);
}
.obtention__item {
  flex: 0 0 calc((100% - 120px) / 4);
  text-align: center;
}
.obtention__item .icon {
  margin: 0 auto;
}
.obtention__inner {
  max-width: 260px;
  margin-top: 28px;
}
.obtention__name {
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}
.obtention__desc {
  font-size: 18px;
  line-height: 140%;
  color: #999;
}
@media (max-width: 1035px) {
  .obtention__content {
    row-gap: 23px;
  }
  .obtention__item {
    flex-basis: calc((100% - 40px) / 2);
    display: flex;
    align-items: start;
    text-align: left;
  }
  .obtention__item .icon {
    margin: 0;
    margin-right: clamp(20px, 5.333vw, 30px);
    flex-shrink: 0;
  }
  .obtention__inner {
    margin: 0;
  }
  .obtention__name {
    font-size: 25px;
  }
  .obtention__desc {
    font-size: 20px;
  }
}
@media (max-width: 705px) {
  .obtention__contern {
    gap: 30px;
  }
  .obtention__item {
    flex-basis: 100%;
  }
  .obtention .icon {
    margin-right: clamp(20px, 20vw - 45px, 150px);
  }
}
@media (max-width: 450px) {
  .obtention .icon {
    width: 60px;
  }
  .obtention__name {
    font-size: 22px;
  }
  .obtention__desc {
    display: block;
    width: 64vw;
    font-size: 16px;
  }
}

#about {
  display: none;
}

.c-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f13131;
}
.c-icon svg {
  width: 42.857%;
}

#catalog {
  padding-top: 131px;
  padding-bottom: calc((100vw - 770px) * 0.1537313433 + 618px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 729px) {
  #catalog {
    padding-bottom: 364px;
  }
}

.catalog__title {
  margin: 0 auto;
  width: fit-content;
}
@media (min-width: 340px) {
  .catalog__title span {
    display: inline-block;
  }
}
.catalog__list {
  position: relative;
}
.catalog__item {
  display: flex;
  gap: 20px;
}
.catalog__line {
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
}
.catalog__name {
  line-height: 140%;
  width: 245px;
}
@media (max-width: 729px) {
  .catalog__list {
    margin-top: 30px;
    padding-left: clamp(0px, (100vw - 375px) * 0.5197740113 + 0px, 184px);
  }
  .catalog__item:not(:first-child) {
    margin-top: 25px;
  }
}
@media (min-width: 730px) {
  .catalog__name--right {
    text-align: right;
    margin-left: auto;
  }
  .catalog .catalog__item--e .catalog__line--r45, .catalog__item--e .catalog .catalog__line--r45, .catalog .catalog__item--d .catalog__line--r45, .catalog__item--d .catalog .catalog__line--r45 {
    width: 86px;
    margin-top: 30px;
    margin-left: 18px;
    transform: rotate(-45deg);
  }
  .catalog .catalog__item--b .catalog__line--l45, .catalog__item--b .catalog .catalog__line--l45 {
    width: 89px;
    margin-top: 31px;
    margin-left: 238px;
    transform: rotate(45deg);
  }
  .catalog .catalog__item--c .c-icon, .catalog__item--c .catalog .c-icon, .catalog .catalog__item--b .c-icon, .catalog__item--b .catalog .c-icon, .catalog .catalog__item--a .c-icon, .catalog__item--a .catalog .c-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .catalog__item {
    display: block;
  }
  .catalog__item--a {
    position: absolute;
    top: clamp(90PX, (100vw - 770px) * -0.052238806 + 125px, 125px);
    left: clamp(0px, (100vw - 770px) * 0.3149253731 + 0px, 211px);
    width: 305px;
    height: 64px;
  }
  .catalog__item--a .catalog__line {
    width: 270px;
    margin-top: 17.5px;
  }
  .catalog__item--b {
    position: absolute;
    top: clamp(262px, (100vw - 770px) * 0.023880597 + 262px, 278px);
    left: clamp(0px, (100vw - 770px) * 0.1587301587 + 0px, 100px);
    width: 343px;
    height: 168px;
  }
  .catalog__item--b .catalog__line {
    width: 252px;
    margin-top: 17.5px;
  }
  .catalog__item--c {
    position: absolute;
    top: clamp(461px, (100vw - 770px) * 0.1641791045 + 461px, 571px);
    left: clamp(0px, (100vw - 770px) * 0.1698412698 + 0px, 107px);
    width: 304px;
    height: 61px;
  }
  .catalog__item--c .catalog__line {
    width: 270px;
    margin-top: 17.5px;
  }
  .catalog__item--d {
    position: absolute;
    top: clamp(38px, (100vw - 770px) * 0.0179104478 + 38px, 50px);
    right: clamp(0px, (100vw - 770px) * 0.1603174603 + 0px, 101px);
    width: 345px;
    height: 165px;
  }
  .catalog__item--d .c-icon {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .catalog__item--d .catalog__line {
    width: 254px;
    margin-top: 17.5px;
    margin-left: auto;
  }
  .catalog__item--d .catalog__name {
    width: 226px;
  }
  .catalog__item--e {
    position: absolute;
    top: clamp(182px, (100vw - 770px) * 0.1164179104 + 182px, 260px);
    right: clamp(0px, (100vw - 770px) * 0.2149253731 + 0px, 144px);
    width: 345px;
    height: 136px;
  }
  .catalog__item--e .c-icon {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .catalog__item--e .catalog__line {
    width: 254px;
    margin-top: 17.5px;
    margin-left: auto;
  }
  .catalog__item--f {
    position: absolute;
    top: clamp(357px, (100vw - 770px) * 0.1059701493 + 357px, 428px);
    right: clamp(0px, (100vw - 770px) * 0.1074626866 + 0px, 72px);
    width: 260px;
    height: 62px;
  }
  .catalog__item--f .c-icon {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .catalog__item--f .catalog__line {
    width: 225px;
    margin-top: 17.5px;
    margin-left: auto;
  }
  .catalog__item--g {
    position: absolute;
    top: clamp(466px, (100vw - 770px) * 0.1253731343 + 466px, 550px);
    right: clamp(0px, (100vw - 770px) * 0.1074626866 + 0px, 72px);
    width: 347px;
    height: 63px;
  }
  .catalog__item--g .c-icon {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .catalog__item--g .catalog__line {
    width: 312px;
    margin-top: 17.5px;
    margin-left: auto;
  }
}
.catalog__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc((100vw - 375px) * 0.4798122066 + 589px);
  z-index: -3;
}
.catalog__man {
  opacity: 0.8;
}
.catalog__invisible {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -5;
}
.catalog__bgword {
  position: absolute;
  top: clamp(-14px, (100vw - 770px) * -0.0059701493 - 10px, -10px);
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: calc((100vw - 375px) * 0.2056338028 + 131px);
  font-weight: 900;
  font-style: italic;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.05;
  z-index: -4;
}
@media (max-width: 729px) {
  .catalog__bgword {
    top: 22px;
  }
}

#features {
  padding-top: clamp(30px, 13.333vw, 64px);
  background: linear-gradient(180deg, #111 0%, rgba(34, 34, 34, 0.1333333333) 100%);
}

.features__wrap {
  width: fit-content;
  margin: 0 auto;
}
.features__inner {
  display: flex;
  gap: 30px;
}
.features__inner:not(:last-child) {
  margin-bottom: 20px;
}
.features__icon {
  width: 50px;
  flex-shrink: 0;
}
.features__text {
  max-width: 357px;
  font-size: 16px;
  line-height: 140%;
  color: #999;
}
.features__text span {
  font-weight: 700;
  color: #fff;
}
.features__btn {
  display: block;
  width: 257px;
  margin: 0 auto;
  margin-top: clamp(30px, 10.667vw, 50px);
}
@media (min-width: 650px) {
  .features__text {
    font-size: 20px;
  }
}
@media (min-width: 700px) {
  .features__wrap {
    display: flex;
    gap: clamp(20px, 4.445vw, 64px);
  }
}

#quote {
  padding-top: clamp(60px, 12.987vw, 112px);
}

.quote {
  position: relative;
  width: clamp(375px, 89.61vw, 960px);
  margin: 0 auto;
}
.quote__bg {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 944px;
  z-index: -1;
  overflow: hidden;
}
.quote__bg img {
  width: 1645px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quote__holder {
  width: 100%;
  height: 10 0%;
  background-color: #111;
  padding: 7.708% 9.06%;
}
.quote__text {
  margin-top: 24px;
}
.quote__footer {
  margin-top: 38px;
  display: flex;
  gap: 27px;
  align-items: start;
}
.quote__avatar {
  flex-shrink: 0;
  width: 86px;
  border-radius: 50%;
  overflow: hidden;
}
.quote__avatar img {
  width: 100%;
  object-fit: cover;
}
.quote__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
}
.quote__desc {
  max-width: 601px;
  font-size: 18px;
  line-height: 140%;
  color: #999;
}

#reviews {
  padding-top: 100px;
}

.reviews__title {
  text-align: center;
}
@media (min-width: 1000px) {
  .reviews__title span {
    display: inline-block;
  }
}
.reviews__filde {
  position: relative;
  margin-top: 25px;
}
.reviews__rating {
  display: flex;
  gap: 19px;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  line-height: 140%;
  color: #999;
}
.reviews__rating .stars {
  gap: 5px;
}
.reviews__rating .stars svg {
  width: 31px;
  height: 31px;
}
@media (max-width: 500px) {
  .reviews__rating {
    flex-direction: column;
    align-items: start;
    gap: 6px;
    margin-left: 6vw;
  }
}
.reviews__icon {
  position: absolute;
  top: 0;
  right: calc(23px + (100vw - 375px) * 0.022535);
}
.reviews__swiper {
  margin-top: 53px;
  width: 100%;
  height: 416px;
}
.reviews__swiper:hover {
  cursor: url("../img/swiper.svg"), auto;
}
.reviews__item {
  width: clamp(200px, 80vw, 350px);
  aspect-ratio: 350/416;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 32px 38px;
}
.reviews__text {
  max-height: 261px;
  line-height: 140%;
  color: #999;
  overflow: auto;
  text-overflow: ellipsis;
}
.reviews__footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50px 1fr 68px;
}
.reviews__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__img img {
  width: 100%;
  object-fit: cover;
}
.reviews__wrup {
  margin-left: 10px;
}
.reviews__wrup span {
  font-size: 16px;
  line-height: 140%;
  color: #999;
}
.reviews__name {
  font-weight: 700;
  line-height: 140%;
}
.reviews__mark {
  display: flex;
  align-items: center;
  gap: 7px;
}
.reviews__btn {
  width: 303px;
  margin-top: 53px;
}

#repeate {
  overflow: hidden;
  position: relative;
}
#repeate .smoke {
  z-index: -1;
}
@media (max-width: 694px) {
  #repeate .smoke {
    left: auto;
    right: -84px;
  }
}

.repeate {
  position: relative;
  padding: 72px 0 40px;
  text-align: center;
}
.repeate .main-info {
  position: relative;
}
.repeate .main-info__text {
  margin-top: 20px;
}
.repeate .main-info__box {
  margin-top: 18px;
}
.repeate .main-info .price {
  margin-top: 0;
}
.repeate .main-info .price__off {
  display: none;
}
.repeate .main-info .timer {
  margin-top: 35px;
  min-height: 176px;
}
.repeate .main-info .action {
  margin-top: 367px;
}
.repeate .main-info .stage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
  margin: 0;
}
.repeate__box {
  position: absolute;
  right: 50%;
  bottom: -36px;
  transform: translateX(45%);
  width: 584px;
  aspect-ratio: 584/697;
  z-index: -2;
}
.repeate__img {
  width: 100%;
  height: 100%;
}
.repeate__sektor {
  display: none;
}
@media (min-width: 720px) {
  .repeate {
    padding: 100px 0;
    text-align: left;
  }
  .repeate__box {
    width: 785px;
    bottom: -100px;
    transform: translateX(0);
    right: -182px;
  }
  .repeate .main-info__text {
    margin-top: 43px;
  }
  .repeate .main-info .stage {
    flex-direction: column;
    gap: 40px;
    bottom: -323px;
  }
  .repeate .main-info .stage li {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
  }
  .repeate .main-info .stage__ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    margin: 0;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(241, 49, 49, 0.1960784314);
  }
  .repeate .main-info .stage span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(241, 49, 49, 0.5019607843);
  }
  .repeate .main-info__box {
    position: relative;
    margin-top: 57px;
    margin-bottom: 323px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 42px;
  }
  .repeate .main-info__box .action,
  .repeate .main-info__box .timer,
  .repeate .main-info__box .price {
    margin: 0;
  }
  .repeate .main-info__box .timer {
    position: absolute;
    right: 5px;
    bottom: -323px;
    max-width: 398px;
  }
  .repeate .main-info__box .timer > p {
    margin-left: -40%;
  }
}
@media (min-width: 1380px) {
  .repeate {
    padding: 164px 0 154px;
  }
  .repeate__box {
    width: 631px;
    right: -68px;
    bottom: 28px;
  }
  .repeate__sektor {
    display: block;
    margin-left: clamp(300px, 38.62% - (200px - 17.24138%), 448px);
    margin-top: -11px;
  }
  .repeate .main-info__box {
    margin-bottom: 0;
  }
  .repeate .main-info .stage {
    top: -23px;
    left: auto;
    bottom: auto;
    right: 18px;
    gap: 0;
    width: fit-content;
  }
  .repeate .main-info .stage li:nth-child(2) {
    margin-top: 24px;
    margin-left: 280px;
  }
  .repeate .main-info .stage li:last-child {
    margin-top: 110px;
    margin-left: 37px;
  }
  .repeate .main-info .timer {
    right: 100px;
    bottom: -165px;
  }
}

#guarantee {
  background-color: #111;
}

.guarantee {
  display: flex;
  gap: 80px;
  padding: 75px 0;
  align-items: center;
}
.guarantee__wrupper {
  display: flex;
  gap: 33px;
}
.guarantee__wrupper svg {
  width: fit-content;
}
.guarantee__title {
  font-size: 29px;
  font-weight: 700;
  line-height: 140%;
}
.guarantee__text {
  max-width: 496px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 140%;
  color: #999;
}
.guarantee__bunner {
  max-width: 326px;
  margin-top: 6px;
}
.guarantee__bunner img {
  width: 100%;
}
@media (max-width: 1075px) {
  .guarantee {
    display: block;
  }
  .guarantee__text {
    max-width: 523px;
  }
  .guarantee__bunner {
    margin: 50px auto 0;
  }
}
@media (max-width: 580px) {
  .guarantee {
    padding: 60px 0;
  }
  .guarantee__wrupper {
    display: block;
    text-align: center;
  }
  .guarantee svg {
    margin: 0 auto 30px;
  }
  .guarantee__bunner {
    margin-top: 40px;
  }
}
@media (max-width: 440px) {
  .guarantee svg {
    max-width: 103px;
  }
  .guarantee__title {
    font-size: 22px;
  }
  .guarantee__text {
    font-size: 16px;
  }
}

#faq {
  position: relative;
  overflow: hidden;
}

.faq {
  position: relative;
  padding: 100px 0;
  z-index: 1;
}
.faq__title {
  max-width: 520px;
}
.faq__list {
  width: 100%;
  max-width: 736px;
  margin-top: 36px;
}
.faq .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
}
.faq__btn {
  width: 100%;
  padding: 42px 0;
}
.faq__btn--active .faq__close {
  transform: rotate(45deg);
}
.faq__btn--active .faq__ans {
  font-size: 20px;
  margin-top: 12px;
  opacity: 1;
}
.faq__wrup {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  width: 100%;
}
.faq__asc {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}
.faq__close {
  width: 40px;
  aspect-ratio: 1;
  font-size: 40px;
  line-height: 100%;
  transition: background-color 0.4s, transform 0.4s;
}
.faq__close:hover {
  background-color: #f13131;
}
.faq__ans {
  display: block;
  line-height: 140%;
  color: #999;
  text-align: left;
  font-size: 20px;
  opacity: 0;
  margin-top: -28px;
  transition: opacity 0.2s, margin-top 0.4s;
}
@media (max-width: 800px) {
  .faq__asc, .faq__ans {
    width: 572px;
  }
}
@media (max-width: 680px) {
  .faq {
    padding: 60px 0;
  }
  .faq__asc, .faq__ans {
    width: 79.1%;
  }
  .faq__asc {
    font-size: 22px;
  }
  .faq__ans {
    font-size: 16px;
  }
}

.spy007 {
  position: absolute;
  top: 0;
  left: clamp(0px, (100vw - 770px) * 0.48507 + 305px, 630px);
  width: 80%;
  min-width: 744px;
}
.spy007 img {
  width: 100%;
}
@media (max-width: 550px) {
  .spy007 {
    left: 0;
  }
}

.spy006 {
  position: absolute;
  left: 0;
  top: 343px;
  width: 560px;
}
.spy006 img {
  width: 100%;
}
@media (max-width: 800px) {
  .spy006 {
    top: 282px;
  }
}

#footer {
  background-color: #111;
}

.footer {
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
}
.footer__blok {
  width: 210px;
}
.footer__blok:not(:last-child) {
  padding-right: 7px;
}
@media (max-width: 480px) {
  .footer__blok {
    width: 165px;
  }
}
.footer__title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  color: #686868;
}
.footer__banner {
  margin-top: 15px;
}
@media (max-width: 960px) {
  .footer {
    flex-wrap: wrap;
    row-gap: 36px;
    max-width: 565px;
  }
}

.copy {
  padding: 10px 0 44px;
  font-size: 18px;
  line-height: 150%;
  color: #777;
}
@media (max-width: 480px) {
  .copy {
    text-align: end;
  }
}