.banner {
  width: 165px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: #222;
  border-radius: 13px;

  p {
    font-size: 9px;
  }

  h4 {
    width: 70px;
    font-size: 18px;
    line-height: 1;
  }
}