$accent-color: #f13131;
$shadow-color: #f131317d;
$ring-color: #f1313132;
$ring-in-color: #f1313180;
$bg-color: #222;
$bg-dark-color: #111;
$lite-font-color: #fff;
$grey-font-color: #999;
$timer-second-font-color: #b3b3b3;
$footer-title-color: #686868;
$rating-bg-color: #383838;
$placeholder-color: #818181;
$input-bd-color: #343434;

$main-font: "PT Sans", sans-serif;
$second-font: "Roboto", sans-serif;

%section-title {
  font-family: $second-font;
  font-style: italic;
  font-size: 58px;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  span {
    display: block;
    color: $accent-color;
  }

  @media (max-width:630px) {
    font-size: clamp(35px, 9.3333vw, 58px);
  }
}

%btn-in-center {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

%footer-font {
  font-size: 18px;
  line-height: 180%;
  text-decoration: underline transparent;
  text-decoration-skip-ink: none;
  transition: text-decoration 0.2s;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

%burger-element {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $lite-font-color;
}

%hover {
  text-decoration: underline $lite-font-color;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%hat-man-gradient {
  background: linear-gradient(270deg, #222 0%, rgba(34, 34, 34, 0) 20%), linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 70%), linear-gradient(90deg, #222 0%, rgba(34, 34, 34, 0) 50%), linear-gradient(0deg, #222 0%, rgba(34, 34, 34, 0) 40%);
}

%shadow {
  filter: drop-shadow(5px 5px 20px $shadow-color);
}

%icon-bg {
  background: $accent-color;
  width: 100%;
  height: 100%;
}

%l-poligon {
  clip-path: polygon(0 17.5px, 17.5px 0, 100% 0, 100% calc(100% - 17.5px), calc(100% - 17.5px) 100%, 0 100%);
}

%up-poligon {
  clip-path: polygon(0 17.5%, 17.5% 0, 100% 0, 100% 82.5%, 82.5% 100%, 0 100%);
}