@use 'variables' as *;
@use 'mixins' as *;

@use 'options';
@use 'banner';

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,700;1,700;1,900&display=swap');

//--------------------------------------//
.logo {
  a {
    display: flex;
    align-items: center;
    gap: 12px;

    svg path {
      transition: fill 0.3s;
    }

    &:hover {
      svg path {
        fill: $accent-color;
      }
    }
  }

  span {
    margin-top: 6px;
    font-family: $second-font;
    font-weight: 700;
    font-style: italic;
    line-height: 140%;
    text-transform: uppercase;

    @media (max-width:480px) {
      font-size: 14px;
    }
  }

  &--footer {
    span {
      width: 132px;
    }
  }
}

@media (max-width: 1200px) {
  .header .logo {
    svg {
      width: 52px;
      height: 52px;
    }

    &__name {
      font-size: 16px;
    }
  }
}

.section-title {
  @extend %section-title;
}

.icon {
  width: 100px;
  aspect-ratio: 1;
  @extend %flex-center;
  @extend %shadow;

  &__bg {
    @extend %icon-bg;
    @extend %up-poligon;
    position: absolute;
  }

  &__finger {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    background: url('/img/finger.png') no-repeat center/cover;
    pointer-events: none;
  }

  &__img {
    z-index: 1;
    pointer-events: none;
    width: 45%;

    svg {
      width: 100%;
    }
  }

  &__clok {
    margin-left: -10%;
  }
}

.l-icon {
  width: 100%;
  height: 59px;
  @extend %shadow;
  font-weight: 700;
  line-height: 140%;
  color: $lite-font-color;

  &__bg {
    @extend %icon-bg;
    @extend %l-poligon;
    @extend %flex-center;
  }

  span {
    margin-left: 16px;
    font-size: 25px;
  }
}

button {

  .icon__bg,
  .l-icon__bg {
    transition: background-color 0.3s;
  }

  .icon__bg:hover,
  .l-icon__bg:hover {
    background-color: $ring-in-color;
  }
}

.up {
  position: fixed;
  right: 28px;
  bottom: 28px;
  width: 60px;
  aspect-ratio: 1;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .3s;
  z-index: 3;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  .icon {
    width: 100%;
    height: 100%;

    &__bg {
      @extend %up-poligon;
    }
  }

  @media (max-width:800px) {
    right: 20px;
    bottom: 20px;
  }

  @media (max-width:480px) {
    left: 20px;
  }
}

.main-title {
  font-family: $second-font;
  font-style: italic;
  font-size: clamp(20px, 9.333vw, 64px);
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  span {
    display: block;
    color: $accent-color;
  }
}

.timer {
  position: relative;
  max-width: 359px;
  width: 100%;
  aspect-ratio: 2.3312; //359 / 154
  background-color: $bg-dark-color;
  @extend %flex-center;
  flex-direction: column;

  &>p {
    margin-left: -33.426%;
    font-size: 16px;
    line-height: 140%;
    color: $timer-second-font-color;
  }

  &__wrupper {
    width: 77.99%;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    font-family: $second-font;
    font-size: clamp(10px, calc((50 / 359) * 100vw), 50px);
    font-weight: 700;
    line-height: 100%;
    margin: 15px 0px 7px;
  }

  &__names {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 0 0 3.214%;
  }

  &__corner {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 154px;
    height: 91px;
    overflow: hidden;

    &-text {
      width: 180px;
      margin-top: 12px;
      margin-left: -2px;
      padding: 7px 0 6px 38px;
      background-color: $accent-color;
      font-size: 16px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(30deg);
    }

    &-bg {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 154px;
      height: 91px;
      border-left: 22px solid #cd2020;
      border-bottom: 22px solid #cd2020;
      z-index: -1;
    }
  }
}

.stage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(14px, 4.267vw, 21px);

  &__ring {
    width: fit-content;
    margin: 0 auto 15px;
  }

  &__label {
    line-height: 140%;
  }
}

.price {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;

  p {
    font-size: clamp(25px, 8vw, 41px);
    font-weight: 700;
    line-height: 140%;
  }

  &__wrupper {
    display: flex;
    align-items: center;
    gap: 1px 10px;
    margin-left: 20px;
  }

  &__old {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    text-decoration: line-through;
  }

  &__off {
    font-size: 16px;
    line-height: 140%;
  }

  &__old,
  &__off {
    color: $grey-font-color;
  }
}

.action {
  &__button {
    width: 100%;
  }

  &__guarantee {
    width: fit-content;
    margin: 20px auto 0;
    font-size: 16px;
    color: $grey-font-color;
    line-height: 140%;

    span {
      font-weight: 700;
      color: $lite-font-color;
    }
  }

  @media(min-width: 449px) {
    width: 287px;
    margin: 0 auto;
  }
}

.main-info {
  &__text {
    margin-top: 15px;
    font-size: clamp(16px, 4.8vw, 34px);
    line-height: 140%;

    span {
      display: none;
    }

    @media(min-width:700px) {
      display: flex;
      align-items: center;
      gap: 27px;

      span {
        display: block;
      }
    }
  }

  .stage {
    margin-top: 36px;
  }

  .price {
    margin-top: 43px;
  }

  .timer {
    margin: 26px auto 0;
  }

  .action {
    margin-top: 20px;
  }
}

.mobile-menu {
  overflow: hidden;

  .menu {
    &__wrapper {
      opacity: 1;
      visibility: visible;
    }

    &__burger {
      span {
        background-color: transparent;

        &::before {
          transform: rotate(-45deg);
          top: 0;
        }

        &::after {
          transform: rotate(45deg);
          bottom: 0;
        }
      }
    }
  }
}

.menu {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @extend %flex-center;
  }

  &__item {
    a {
      padding: 5px 0;
      line-height: 140%;
      text-decoration: underline transparent;
      transition: text-decoration 0.3s;

      &:hover {
        @extend %hover;
      }
    }
  }

  &__burger {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    z-index: 10;

    span {
      @extend %burger-element;

      &::before {
        content: "";
        @extend %burger-element;
        top: -11px;
        transition: transform 0.3s;
      }

      &::after {
        content: "";
        @extend %burger-element;
        bottom: -9px;
        transition: transform 0.3s;
      }
    }
  }

  @media(max-width:959px) {
    &__wrapper {
      min-height: 100vh;
      background-color: $bg-color;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      overflow: auto;
    }

    &__items {
      padding: 50px 0;
    }

    &__item {
      text-align: center;

      &:not(:first-child) {
        margin-top: 51px;
      }
    }
  }

  @media(min-width:960px) {
    width: calc(100% - 295px);

    &__wrapper {
      position: static;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      max-width: 683px;
      width: 100%;
      margin-left: auto;
    }

    &__item {
      font-size: 18px;
    }

    &__burger {
      display: none;
    }
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 11;
  filter: drop-shadow(5px 5px 20px $bg-color);
  background: linear-gradient(0deg, #2220 0%, #222a 30%, #222a 70%, #2224 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 3.53px;
}

#hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .timer__corner,
  .timer__corner-bg {
    display: none;
  }
}

.smoke {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 778px;
}

.hero {
  padding: 134px 0px 60px;
  text-align: center;

  .hat-man {
    position: relative;
    max-width: 416px;
    width: 92.974%;
    aspect-ratio: 416 / 552;
    margin: 0 auto;
    transform: translate(12px);

    &__man {
      position: absolute;
      top: -17.3913%;
      right: -68.5096%;
      width: 267.7885%;
      z-index: -1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %hat-man-gradient;
      }
    }

    &__frame {
      width: 100%;
      height: 100%;
      border: 4px solid $accent-color;
      box-shadow: 0 0 40px 0 $accent-color;
    }

    &__hat {
      position: absolute;
      right: 24.0385%;
      top: -17.3913%;
      width: 93.0288%;
    }
  }

  &__rating {
    display: flex;
    gap: 16.54px;
    width: 285px;
    padding: 24px 37px 25px 29px;
    background-color: $rating-bg-color;
    font-size: 16px;
    line-height: 140%;

    position: absolute;
    top: 45.06%;
    left: 6px;

    svg {
      width: 22px;
    }

    @media(max-width:339px) {
      display: none;
    }
  }

  &__box {
    width: 100%;
    margin-top: clamp(-210px, -32vw, 0px);
    position: relative;
    z-index: 1;
  }

  @media(max-width: 729px) {
    .timer>p {
      margin: 0;
    }
  }

  @media(min-width: 730px) {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    padding-bottom: 96px;

    &__box {
      margin-top: 18px;
    }

    &__hat-boy {
      margin-top: 129px;
    }

    &__rating {
      top: 241px;
      left: 195px;
    }

    .main-info {
      &__text {
        margin-top: 38px;
      }

      &__box {
        position: relative;
      }
    }

    .stage {
      position: absolute;
      top: 930px;
      right: 49%;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      width: fit-content;

      &__ring {
        margin: 0;
      }

      li {
        display: flex;
        gap: 18px;
      }
    }

    .price {
      margin: 51px 0 0;

      &__wrupper {
        flex-direction: column;
      }
    }

    .timer {
      position: absolute;
      top: 50%;
      right: 0;
      margin: 0;
      transform: translate(0, -50%);
    }

    .action {
      margin: 27px 0 0;
    }
  }

  @media(min-width: 1320px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: clamp(600px, 100vh, 1200px);
    padding: 0;

    &__hat-boy {
      width: 35.862%;
      margin: 30px 0 0;
    }

    &__box {
      width: fit-content;
    }

    &__rating {
      top: 46.377%;
      left: auto;
      right: 57.933%;
    }

    .hat-man {
      width: 100%;
      transform: translate(0);
    }

    .main-info {
      &__text {
        margin-top: 27px;
      }

      &__box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: start;
        gap: 71px;
        margin-top: 54px;
      }
    }

    .price,
    .action {
      margin-top: 0;
    }

    .stage {
      position: static;
      flex-direction: row;
      gap: 43px;
      margin-top: 51px;
    }

    .timer {
      right: -88.431%;
    }
  }
}

#obtention {
  padding: clamp(30px, 16vw, 100px) 0;
  background-color: $bg-dark-color;
}

.obtention {
  &__title {
    @extend %section-title;
    width: fit-content;
    margin: 0 auto;

    @media(min-width:367px) {
      span {
        display: inline-block;
      }
    }
  }

  &__content {
    @include flex-gap(40px);
    flex-wrap: wrap;
    padding-top: clamp(30px, 10.667vw, 60px);
  }

  &__item {
    flex: 0 0 calc((100% - 3 * 40px) / 4);
    text-align: center;

    .icon {
      margin: 0 auto;
    }
  }

  &__inner {
    max-width: 260px;
    margin-top: 28px;
  }

  &__name {
    font-size: 27px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 18px;
    line-height: 140%;
    color: $grey-font-color;
  }

  @media(max-width:1035px) {
    &__content {
      row-gap: 23px;
    }

    &__item {
      flex-basis: calc((100% - 40px) / 2);
      display: flex;
      align-items: start;
      text-align: left;

      .icon {
        margin: 0;
        margin-right: clamp(20px, 5.333vw, 30px);
        flex-shrink: 0;
      }
    }

    &__inner {
      margin: 0;
    }

    &__name {
      font-size: 25px;
    }

    &__desc {
      font-size: 20px;
    }
  }

  @media (max-width:705px) {
    &__contern {
      gap: 30px;
    }

    &__item {
      flex-basis: 100%;
    }

    .icon {
      margin-right: clamp(20px, 20vw - 45px, 150px);
    }
  }

  @media (max-width:450px) {
    .icon {
      width: 60px;
    }

    &__name {
      font-size: 22px;
    }

    &__desc {
      display: block;
      width: 64vw;
      font-size: 16px;
    }
  }
}

.c-icon {
  @extend %flex-center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $accent-color;

  svg {
    width: 42.857%;
  }
}

#about {
  position: relative;
  padding-top: clamp(125px, flexible(1440px, 125px, 770px, 333px), 333px);

  @media(max-width:770px) {
    padding-top: clamp(306px, flexible(770px, 333px, 375px, 306px), 333px);
  }
}

.about {
  margin-left: clamp(0px, flexible(955px, 600px, 770px, 0px), calc(100% - 543px)); //600px

  &__spy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 691px;
    z-index: -1;
    overflow-x: hidden;

    img {
      position: absolute;
      top: clamp(-72px, flexible(1440px, 0px, 770px, -72px), 0px);
      left: 0;
      width: clamp(776px, flexible(1440px, 951px, 770px, 776px), 951px);
      height: auto;

      @media(max-width:770px) {
        top: clamp(-72px, flexible(770px, -72px, 375px, -45px), -45px);
        left: clamp(-68px, flexible(770px, 0px, 375px, -68px), 0px);
        width: clamp(511px, flexible(770px, 776px, 375px, 511px), 776px);
      }
    }
  }

  &__title {
    @extend %section-title;
    position: relative;
    width: fit-content;

    svg {
      position: absolute;
      top: -103.279%;
      left: -31.341%;
      width: 108.957%;
      height: 305.4187%;

      @media(max-width:365px) {
        top: -126.3%;
      }
    }
  }

  &__accent-text {
    margin-top: clamp(46px, flexible(770px, 52px, 375px, 46px), 52px);
    padding-left: clamp(38px, flexible(1440px, 38px, 770px, 47px), 47px);
    font-size: clamp(22px, flexible(770px, 29px, 375px, 22px), 29px);
    font-style: italic;
    line-height: 140%;
    border-left: 2px solid $lite-font-color;

    @media(max-width:770px) {
      padding-left: clamp(20px, flexible(770px, 47px, 375px, 20px), 47px);
    }
  }

  &__text {
    margin-top: clamp(20px, flexible(770px, 31px, 375px, 20px), 31px);
    margin-bottom: clamp(30px, flexible(770px, 42px, 375px, 30px), 42px);
    font-size: clamp(16px, flexible(770px, 20px, 375px, 16px), 20px);
    line-height: 140%;
    color: $grey-font-color;
  }

  &__btn {
    width: 257px;
    max-width: 100%;
  }
}

#learn {
  position: relative;
  padding-top: clamp(100px, flexible(1400px, 145px, 770px, 100px), 145px);
  padding-bottom: clamp(100px, flexible(1400px, 108px, 770px, 100px), 108px);

  @media(max-width:680px) {
    padding: clamp(60px, flexible(680px, 100px, 375px, 60px), 100px) 0px;
  }
}

.learn {
  &__bg {
    position: absolute;
    left: 0;
    bottom: clamp(281px, flexible(1440px, 281px, 770px, 348px), 348px);
    width: 100%;
    height: 994px;
    overflow-x: hidden;
    z-index: -1;

    img {
      position: absolute;
      bottom: 0;
      left: clamp(-480px, flexible(1440px, 143px, 770px, -480px), 143px);
      width: 1645px;
      transform: rotate(180deg);
    }

    @media(max-width:770px) {
      bottom: clamp(209px, flexible(770px, 348px, 375px, 209px), 348px);

      img {
        left: clamp(-635px, flexible(770px, -480px, 375px, -635px), -480px);
      }
    }
  }

  &__title {
    @extend %section-title;

    span {
      display: inline-block;
    }
  }

  &__content {
    margin: 35px 0px 60px;

    @media(max-width:680px) {
      margin-top: clamp(35px, flexible(680px, 35px, 375px, 40px), 40px);
      margin-bottom: clamp(40px, flexible(680px, 60px, 375px, 40px), 60px);
    }
  }

  &__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 31.0345%);
    row-gap: flexible(770px, 40px, 375px, 30px);

    @media(max-width:840px) {
      grid-template-columns: repeat(auto-fit, 48.1159%);
    }

    @media(max-width:680px) {
      display: block;
    }
  }

  @media(max-width:680px) {
    &__item {
      @include flex-gap(12px);
      align-items: center;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  &__subtitle {
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #fff 5%, rgba(255, 255, 255, 0) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 0.4;
  }

  &__text {
    margin-top: 12px;
    line-height: 140%;
    color: $grey-font-color;

    span {
      color: $lite-font-color;
    }

    @media(max-width:680px) {
      margin-top: 0;
      font-size: clamp(13px, flexible(680px, 20px, 375px, 16px), 20px);
    }
  }

  &__btn {
    display: block;
    max-width: 100%;
    width: 284px;
    margin: 0 auto;
  }
}

#trusted {
  padding: clamp(100px, flexible(1440px, 110px, 770px, 100px), 110px) 0px;
  background-color: $bg-dark-color;

  @media(max-width:680px) {
    padding: clamp(60px, flexible(680px, 100px, 375px, 60px), 100px) 0px;
  }
}

.trusted {
  &__title {
    @extend %section-title;
    text-align: center;

    span {
      display: inline-block;
    }
  }

  &__holder {
    @include flex-gap(10px);
    row-gap: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: clamp(40px, flexible(1440px, 44px, 770px, 40px), 44px);

    @media(max-width:680px) {
      row-gap: clamp(30px, flexible(680px, 50px, 375px, 30px), 50px);
      margin-top: clamp(30px, flexible(680px, 40px, 375px, 30px), 40px);
    }
  }

  &__group {
    max-width: calc(50% - 5px);
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 100%;
    }
  }
}

#audience {
  padding-top: 100px;

  @media(max-width:729px) {
    padding-top: 60px;
  }
}

.audience {
  position: relative;

  &__title {
    @extend %section-title;

    span {
      display: inline-block;
    }
  }

  &__list {
    @include flex-gap(30px);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 33px;
  }

  &__item {
    @include flex-gap(25px);
    align-items: start;
    width: 100%;

    .icon {
      flex-shrink: 0;
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 11px;
    line-height: 140%;
    color: $grey-font-color;
  }

  &__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image {
    position: relative;
    width: 189.3333vw;
    margin-left: -80vw;
  }

  &__collar {
    position: relative;
    width: 100%;
    z-index: -5;
  }

  &__frame {
    position: absolute;
    top: 21.5%;
    left: 54.0067%;
    width: 28.13022%;
    height: 57.125%;
    border: 4px solid $accent-color;
    box-shadow: 0 0 40px $accent-color;
    z-index: -4;
  }

  &__man {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
  }

  &__smoke {
    position: absolute;
    bottom: -608px;
    right: 0px;
    width: 100vw;
    height: 744px;
    overflow: hidden;

    img {
      position: absolute;
      bottom: 0px;
      right: -326px;
      width: 1246px;
    }
  }

  @media(max-width:480px) {
    &__item {
      .icon {
        width: 60px;
      }
    }

    &__name {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
    }
  }

  @media(max-width:729px) {
    &__title {
      text-align: center;
    }
  }

  @media(max-width:1299px) {
    &__list {
      margin-left: clamp(0px, flexible(1299px, 125px, 900px, 0px), 125px);
    }
  }

  @media(min-width:730px) {
    &__list {
      width: 360px;
      margin-top: 60px;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__image {
      position: absolute;
      top: clamp(20px, flexible(1440px, 20px, 770px, 123px), 123px);
      left: clamp(-245px, flexible(1440px, 321px, 770px, -145px), 1000px);
      width: clamp(1098px, flexible(1440px, 1198px, 770px, 1098px), 1198px);
      margin: 0;
    }

    &__smoke {
      bottom: clamp(-330px, flexible(1440px, -330px, 770px, -217px), -217px);

      img {
        right: clamp(-238px, flexible(1440px, -46px, 770px, -238px), -46px);
      }
    }
  }

  @media(min-width:1300px) {
    &__list {
      width: 760px;
      row-gap: 70px;
    }

    &__item {
      width: 360px;
    }
  }
}

#catalog {
  padding-top: clamp(100px, flexible(1440px, 131px, 770px, 100px), 131px);
  padding-bottom: flexible(1440px, 721px, 770px, 618px);
  position: relative;
  overflow: hidden;

  @media(max-width:729px) {
    padding-top: 22px;
    padding-bottom: 364px;
  }
}

.catalog {
  &__title {
    @extend %section-title;
    margin: 0 auto;
    width: fit-content;

    @media(min-width:340px) {
      span {
        display: inline-block;
      }
    }
  }

  &__list {
    position: relative;
  }

  &__item {
    @include flex-gap(20px);

    .c-icon {
      flex-shrink: 0;
    }
  }

  &__line {
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
  }

  &__name {
    line-height: 140%;
    width: 245px;
  }

  @media(max-width:729px) {
    &__list {
      margin-top: 30px;
      padding-left: clamp(0px, flexible(729px, 184px, 375px, 0px), 184px);
    }

    &__item:not(:first-child) {
      margin-top: 25px;
    }
  }

  @media(min-width:730px) {
    &__name--right {
      text-align: right;
      margin-left: auto;
    }

    %r45 {
      width: 86px;
      margin-top: 30px;
      margin-left: 18px;
      transform: rotate(-45deg);
    }

    %l45 {
      width: 89px;
      margin-top: 31px;
      margin-left: 238px;
      transform: rotate(45deg);
    }

    %l-icon {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__item {
      display: block;
    }

    &__item--a {
      position: absolute;
      top: clamp(90PX, flexible(1440px, 90px, 770px, 125px), 125px);
      left: clamp(0px, flexible(1440px, 211px, 770px, 0px), 211px);
      width: 305px;
      height: 64px;

      .c-icon {
        @extend %l-icon;
      }

      .catalog__line {
        width: 270px;
        margin-top: 17.5px;
      }
    }

    &__item--b {
      position: absolute;
      top: clamp(262px, flexible(1440px, 278px, 770px, 262px), 278px);
      left: clamp(0px, flexible(1400px, 100px, 770px, 0px), 100px);
      width: 343px;
      height: 168px;

      .c-icon {
        @extend %l-icon;
      }

      .catalog__line {
        width: 252px;
        margin-top: 17.5px;

        &--l45 {
          @extend %l45;
        }
      }
    }

    &__item--c {
      position: absolute;
      top: clamp(461px, flexible(1440px, 571px, 770px, 461px), 571px);
      left: clamp(0px, flexible(1400px, 107px, 770px, 0px), 107px);
      width: 304px;
      height: 61px;

      .c-icon {
        @extend %l-icon;
      }

      .catalog__line {
        width: 270px;
        margin-top: 17.5px;
      }
    }

    &__item--d {
      position: absolute;
      top: clamp(38px, flexible(1440px, 50px, 770px, 38px), 50px);
      right: clamp(0px, flexible(1400px, 101px, 770px, 0px), 101px);
      width: 345px;
      height: 165px;

      .c-icon {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .catalog__line {
        width: 254px;
        margin-top: 17.5px;
        margin-left: auto;

        &--r45 {
          @extend %r45;
        }
      }

      .catalog__name {
        width: 226px;
      }
    }

    &__item--e {
      position: absolute;
      top: clamp(182px, flexible(1440px, 260px, 770px, 182px), 260px);
      right: clamp(0px, flexible(1440px, 144px, 770px, 0px), 144px);
      width: 345px;
      height: 136px;

      .c-icon {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .catalog__line {
        width: 254px;
        margin-top: 17.5px;
        margin-left: auto;

        &--r45 {
          @extend %r45;
        }
      }
    }

    &__item--f {
      position: absolute;
      top: clamp(357px, flexible(1440px, 428px, 770px, 357px), 428px);
      right: clamp(0px, flexible(1440px, 72px, 770px, 0px), 72px);
      width: 260px;
      height: 62px;

      .c-icon {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .catalog__line {
        width: 225px;
        margin-top: 17.5px;
        margin-left: auto;
      }
    }

    &__item--g {
      position: absolute;
      top: clamp(466px, flexible(1440px, 550px, 770px, 466px), 550px);
      right: clamp(0px, flexible(1440px, 72px, 770px, 0px), 72px);
      width: 347px;
      height: 63px;

      .c-icon {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .catalog__line {
        width: 312px;
        margin-top: 17.5px;
        margin-left: auto;
      }
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    // width: 1100px;
    // width: calc((100vw - 375px) * 0.47981 + 589px);
    width: flexible(1440px, 1100px, 375px, 589px);
    max-width: 1100px;
    z-index: -3;
  }

  &__man {
    opacity: 0.8;
  }

  &__invisible {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;
  }

  &__bgword {
    position: absolute;
    top: clamp(-14px, flexible(1440px, -14px, 770px, -10px), -10px);
    left: 50%;
    transform: translateX(-50%);
    font-family: $second-font;
    font-size: flexible(1440px, 350px, 375px, 131px);
    font-weight: 900;
    font-style: italic;
    line-height: 105%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    opacity: 0.05;
    z-index: -4;

    @media(max-width:729px) {
      top: 22px;
    }
  }
}

#features {
  padding-top: clamp(30px, 13.333vw, 64px);
  background: linear-gradient(180deg, $bg-dark-color 0%, #2222 100%);
}

.features {
  &__wrap {
    width: fit-content;
    margin: 0 auto;
  }

  &__inner {
    @include flex-gap(30px);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 50px;
    flex-shrink: 0;
  }

  &__text {
    max-width: 357px;
    font-size: 16px;
    line-height: 140%;
    color: $grey-font-color;

    span {
      font-weight: 700;
      color: $lite-font-color;
    }
  }

  &__btn {
    display: block;
    width: 257px;
    margin: 0 auto;
    margin-top: clamp(30px, 10.667vw, 50px);
  }

  @media(min-width:650px) {
    &__text {
      font-size: 20px;
    }
  }

  @media(min-width:700px) {
    &__wrap {
      @include flex-gap(clamp(20px, 4.445vw, 64px))
    }
  }
}

#quote {
  position: relative;
  padding-top: clamp(60px, 12.987vw, 112px);
}

.quote {
  width: clamp(375px, 89.61vw, 960px);
  max-width: 100vw;
  margin: 0 auto;

  &__bg {
    position: absolute;
    top: clamp(-170px, flexible(1440px, -93px, 770px, -170px), -93px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 994px;
    z-index: -1;
    overflow: hidden;

    img {
      width: 1645px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__holder {
    background-color: $bg-dark-color;
    padding: 7.708% 7.5%;

    @media(max-width:400px) {
      padding: 7.708% 5.867%;
    }
  }

  &__text {
    @extend %section-title;
    margin-top: 24px;
  }

  &__footer {
    margin-top: 38px;
    @include flex-gap(27px);
    align-items: start;
  }

  &__avatar {
    flex-shrink: 0;
    width: 86px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
  }

  &__desc {
    max-width: 500px;
    font-size: 18px;
    line-height: 140%;
    color: $grey-font-color;

    @media(max-width:473px) {
      font-size: 16px;
    }
  }
}

#reviews {
  padding-top: 100px;
}

.reviews {
  &__title {
    @extend %section-title;
    text-align: center;

    @media(min-width:991px) {
      span {
        display: inline-block;
      }
    }
  }

  &__filde {
    position: relative;
    margin-top: 25px;
  }

  &__rating {
    display: flex;
    gap: 19px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    line-height: 140%;
    color: $grey-font-color;

    .stars {
      gap: 5px;

      svg {
        width: 31px;
        height: 31px;
      }
    }

    @media(max-width:550px) {
      flex-direction: column;
      align-items: start;
      gap: 6px;
      margin-left: 6vw;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: calc(23px + (100vw - 375px) * .022535);
  }

  &__swiper {
    margin-top: 53px;
    width: 100%;
    height: 416px;

    &:hover {
      cursor: url("../img/swiper.svg"), auto;
    }
  }

  &__item {
    width: clamp(200px, 80vw, 350px);
    aspect-ratio: 350/416;
    background-color: $bg-dark-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 32px 38px;
  }

  &__text {
    max-height: 261px;
    line-height: 140%;
    color: $grey-font-color;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  &__more-btn {
    display: block;
    width: fit-content;
    color: $accent-color;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s;

    &:hover {
      border-bottom-color: $accent-color;
    }
  }

  &__footer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50px 1fr 68px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__wrup {
    margin-left: 10px;

    span {
      font-size: 16px;
      line-height: 140%;
      color: $grey-font-color;
    }
  }

  &__name {
    font-weight: 700;
    line-height: 140%;
  }

  &__mark {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__btn {
    @extend %btn-in-center;
    width: 303px;
    max-width: 90%;
    margin-top: 53px;
  }
}

#repeate {
  overflow: hidden;
  position: relative;

  .smoke {
    z-index: -1;
  }

  @media(max-width:694px) {
    .smoke {
      left: auto;
      right: -84px; //-22.4vw;
    }
  }
}

.repeate {
  position: relative;
  padding: 72px 0 40px;
  text-align: center;

  .main-info {
    position: relative;

    &__text {
      margin-top: 20px;
    }

    &__box {
      margin-top: 18px;
    }

    .price {
      margin-top: 0;

      &__off {
        display: none;
      }
    }

    .timer {
      margin-top: 35px;
      min-height: 176px;
    }

    .action {
      margin-top: 367px;
    }

    .stage {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 130px;
      margin: 0;
    }
  }

  &__box {
    position: absolute;
    right: 50%;
    bottom: -36px;
    transform: translateX(45%);
    width: 584px;
    aspect-ratio: 584 / 697;
    z-index: -2;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__sektor {
    display: none;
  }

  @media(min-width:700px) {
    padding: 100px 0;
    text-align: left;

    &__box {
      width: 785px;
      bottom: -100px;
      transform: translateX(0);
      right: -182px;
    }

    .main-info {
      &__text {
        margin-top: 43px;
      }

      .stage {
        flex-direction: column;
        gap: 40px;
        bottom: -323px;

        li {
          display: flex;
          align-items: center;
          gap: 12px;
          width: fit-content;
        }

        &__ring {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 61px;
          margin: 0;
          aspect-ratio: 1;
          border: 1px solid;
          border-radius: 50%;
          border-color: $ring-color;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          aspect-ratio: 1;
          border: 1px solid;
          border-radius: 50%;
          border-color: $ring-in-color;
        }
      }

      &__box {
        position: relative;
        margin-top: 57px;
        margin-bottom: 323px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: start;
        gap: 42px;

        .action,
        .timer,
        .price {
          margin: 0;
        }

        .timer {
          position: absolute;
          right: 5px;
          bottom: -323px;
          max-width: 398px;

          &>p {
            margin-left: -40%;
          }
        }
      }
    }
  }

  @media(min-width:1320px) {
    padding: 164px 0 154px;

    &__box {
      width: 631px;
      right: -68px;
      bottom: 28px;
    }

    &__sektor {
      display: block;
      margin-left: clamp(300px, (38.62% - (200px - 17.24138%)), 448px);
      margin-top: -11px;
    }

    .main-info {
      &__box {
        margin-bottom: 0;
      }

      .stage {
        top: -23px;
        left: auto;
        bottom: auto;
        right: 18px;
        gap: 0;
        width: fit-content;

        li:nth-child(2) {
          margin-top: 24px;
          margin-left: 280px;
        }

        li:last-child {
          margin-top: 110px;
          margin-left: 37px;
        }
      }

      .timer {
        right: 100px;
        bottom: -165px;
      }
    }
  }
}

#guarantee {
  background-color: $bg-dark-color;
}

.guarantee {
  @include flex-gap(80px);
  padding: 75px 0;
  align-items: center;

  &__wrupper {
    @include flex-gap(33px);

    svg {
      width: fit-content;
    }
  }

  &__title {
    font-size: 29px;
    font-weight: 700;
    line-height: 140%;
  }

  &__text {
    max-width: 496px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 140%;
    color: $grey-font-color;
  }

  &__bunner {
    max-width: 326px;
    margin-top: 6px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 1075px) {
    display: block;

    &__text {
      max-width: 523px;
    }

    &__bunner {
      margin: 50px auto 0;
    }
  }

  @media (max-width: 580px) {
    padding: 60px 0;

    &__wrupper {
      display: block;
      text-align: center;
    }

    svg {
      margin: 0 auto 30px;
    }

    &__bunner {
      margin-top: 40px;
    }
  }

  @media (max-width: 440px) {
    svg {
      max-width: 103px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

#faq {
  position: relative;
  overflow: hidden;
}

.faq {
  position: relative;
  padding: 100px 0;
  z-index: 1;

  &__title {
    max-width: 520px;
    @extend %section-title;
  }

  &__list {
    width: 100%;
    max-width: 736px;
    margin-top: 36px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
  }

  &__btn {
    width: 100%;
    padding: 42px 0;

    &--active {
      .faq__close {

        transform: rotate(45deg);
      }

      .faq__ans {
        font-size: 20px;
        margin-top: 12px;
        opacity: 1;
      }
    }
  }

  &__wrup {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
    width: 100%;
  }

  &__asc {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
  }

  &__close {
    width: 40px;
    aspect-ratio: 1;
    @extend %flex-center;
    font-size: 40px;
    line-height: 100%;
    transition: background-color .4s, transform .4s;
    z-index: 1;

    &:hover {
      background-color: $accent-color;
    }
  }

  &__ans {
    display: block;
    line-height: 140%;
    color: $grey-font-color;
    text-align: left;
    font-size: 20px;
    opacity: 0;
    margin-top: -28px;
    transition: opacity .2s, margin-top .4s;
  }

  @media (max-width:800px) {

    &__asc,
    &__ans {
      width: 572px;
    }
  }

  @media (max-width:680px) {
    padding: 60px 0;

    &__asc,
    &__ans {
      width: 79.1%;
    }

    &__asc {
      font-size: 22px;
    }

    &__ans {
      font-size: 16px;
    }
  }
}

.spy007 {
  position: absolute;
  top: 0;
  left: clamp(0px, calc((100vw - 770px) * 0.48507 + 305px), 630px);
  width: 80%;
  min-width: 744px;

  img {
    width: 100%;

  }

  @media (max-width:550px) {
    left: 0;
  }
}

.spy006 {
  position: absolute;
  left: 0;
  top: 343px;
  width: 560px;

  img {
    width: 100%;
  }

  @media (max-width:800px) {
    top: 282px;
  }
}

#footer {
  background-color: $bg-dark-color;
}

.footer {
  padding-top: 63px;
  display: flex;
  justify-content: space-between;

  &__blok {
    width: 210px;

    &:not(:last-child) {
      padding-right: 7px;
    }

    @media (max-width:480px) {
      width: 165px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    color: $footer-title-color;
  }

  &__link,
  &__mail {
    @extend %footer-font;

    &:hover {
      @extend %hover;
    }
  }

  &__banner {
    margin-top: 15px;
  }

  @media (max-width: 960px) {
    flex-wrap: wrap;
    row-gap: 36px;
    max-width: 565px;
  }
}

.copy {
  margin-top: clamp(0px, flexible(1440px, 0px, 770px, 34px), 34px);
  padding: 10px 0 44px;
  font-size: 18px;
  line-height: 150%;
  color: #777;

  @media (max-width:770px) {
    margin-top: clamp(20px, flexible(770px, 34px, 375px, 20px), 34px);
  }

  @media (max-width:480px) {
    text-align: end;
  }
}